<main>
     <section class="banner">
        <div class="container d-flex align-items-center justify-content-center flex-md-row flex-column">
            <div class="aling-self-center text-center text-md-end me-0 me-md-4">
                <p class="title">Explora los mejores robots del mercado</p>
            </div>
            <div>
                <img src="assets/img/robot-banner.jpg" alt="Robot" class="img-fluid" width="560" height="370">
            </div>
        </div>
    </section>
    <section class="react">
      <mft-wc-wrapper [options]="itemReact"></mft-wc-wrapper>
    </section>
    <section class="vue">
      <mft-wc-wrapper [options]="itemVue"></mft-wc-wrapper>
    </section>
    <section class="angular">
        <mft-wc-wrapper [options]="itemAngular"></mft-wc-wrapper>
    </section>
</main>
