.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 200px;
    height: 300px;
    margin: 20px 20px;
    box-shadow: 1px 4px 8px 0px grey;
    overflow: hidden;
  }
  .card-image {
    width: 100%;
  }
  .card-image:hover{
    transform: scale(1.6);
    transition: transform .3s;
  }